<?xml version="1.0"?>
<!--
/**
 * Copyright © Rob Aimes - https://aimes.dev/
 * https://github.com/robaimes
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <aimes_admin_ui>
                <ui_select_min_options>20</ui_select_min_options>
            </aimes_admin_ui>
        </catalog>
    </default>
</config>
