<?xml version="1.0"?>
<!--
/**
 * Copyright © Rob Aimes - https://aimes.dev/
 * https://github.com/robaimes
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="aimes_admin_ui"
                   translate="label"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0"
                   sortOrder="101">
                <label>Admin UI</label>
                <field id="ui_select_min_options"
                       translate="label comment"
                       type="text"
                       sortOrder="400"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Min. UI-Select Options</label>
                    <comment>When this amount of options or greater are available, replace 'select' components with 'ui-select'.</comment>
                    <validate>required-entry validate-digits validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
    </system>
</config>
